<html>
<head>
<metahttp-equiv="Content-type"content="text/html; charset=utf-8">
</head>
<body>
<form method="POST" action="">
<p>食べたいくだものを選んでください。（何個でも）</p>
<input id="fruits_apple" type="checkbox" name="fruits" value="apple" ><label for="fruits_apple"> りんご</label>
<input id="fruits_orange" type="checkbox" name="fruits" value="orange" ><label for="fruits_orange"> みかん</label>
<input id="fruits_grape" type="checkbox" name="fruits" value="grape" ><label for="fruits_grape"> ぶどう</label>
<input type="submit" name="which" value="add" >
<hr />
<input type="submit" name="which" value="clear" >
</form>
%s
%s
<p>
%s
</p>
</body >
</html >
